body {
    font-family: monospace, monaco;
}

.picture {
    text-align: center;
}

img {
    height: auto;
    width: 500px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #496B1Fff;
    font-size: 75px;

}

h3 {
    color: #231F23ff;
}